*{
     margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}
body{
    height: 100%;
    width: 100%;
}
.navigationbar{
    background-color:#AEC4F3;
    padding: 0px 0px;
}
.navigationbar nav{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.hamburger{
    display: none;
    cursor: pointer;
    background: none;
    border: none;
}
.navigationlinks{
    display: flex;
    list-style: none;
    gap: 10px;
    margin-left: auto;
}
.navigationlinks li a{
    color: white;
    font-weight: 400;
    text-decoration: none;
}
@media (max-width: 600px) {
    .navigationlinks{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 20px;
        width: 200px;
        padding: 10px;
        border-radius: 10px;
    }
    .navigationlinks.show{
        display: flex;
    }
    .hamburger{
        display: block;
        margin-left: auto;
    }
}

.herosection{
    background-image: url(images/Screenshot\ 2025-06-08\ 102822.png);
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
}
.hero{
    text-align: left;
    position: absolute;
    bottom: 40px;
    left: 10px;
}
.raydiate{
    margin-bottom: 5px;
    font-weight: 1800px;
    font-size: 90px;
}
.tagline{
    margin-bottom: 20px;
    font-size: 40px;
    font-size: bold;
}
.getsolarbutton{
    background-color: #FFCC33;
    color: black;
    padding: 14px;
    font-weight: 200;
    border-radius: 28px;
    text-decoration: none;
    transition: background 0.4s ease;
}
.getsolarbutton :hover{
    background: #e4ab00;
}
@media (max-width:1200px){
   .tagline{
    font-size: 20px;
    line-height: 1.5;
   }
   .getsolarbutton{
    padding: 8px;
   }
}
.aboutsection{
    background-image: url(images/Screenshot\ 2025-06-08\ 114927.png);
    background-size: cover;
    height: 180vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: black;
}
.about{
    max-width: 900px;
    margin: 0 auto;
}
.aboutheading{
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    padding: 6px 8px;
    display: inline-block;
    margin-bottom: 16px;
}
.originheading{
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
.aboutparagraph{
    font-size: 24px;
    line-height: 1.6;
    margin-bottom: 16px;
    text-align: center;
}
.aboutlogo{
    position: absolute;
    top: 10px;
    right: 70px;
    width: 60px;
    height: auto;
}
@media (max-width:1200px){
    .aboutsection{
        height: 180vh;
    }
    .aboutheading{
        font-size: 20px;
        top: 5px;
        left: 5px;
        margin-right: 50px;
    }
    .originheading{
        font-size: 20px;
        font-weight: bold;
    }
    .aboutparagraph{
        font-size: 18px;
    }
    .aboutlogo{
        display: none;
    }
}
.carouselsection{
    padding: 16px;
    background-color: #AEC4F3;
    text-align: center;
}
.carouselcontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 8px;
    position: relative;
    overflow: hidden;
    width: 100vw;
}
.carousel{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 8px;
    padding: 8px;
    width: 100%;
}
.card{
    flex: 0 0 500px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAF4E6;
    padding: 8px;
    min-width: 250px;
    text-align: left;
    margin: 0 20px;
}
.card img{
    width: 100%;
    height: auto;
    object-fit: contain;
    max-width: 505px;
}
.label{
    font-size: 20px;
    margin-bottom: 6px;
}
.card h3{
    font-family: 'italliano';
    font-style: italic;
    font-size: 24px;
}
.productheading{
    display: inline-block;
    font-size: 32px;
    margin-bottom: 32px;
    padding: 50px;
    background-color: #FFCC33;
}
.faq{
    padding: 64px;
}
.faqsheading{
    padding: 24px;
    background-color: #AEC4F3;
    text-decoration: underline;
}
.faqs h2{
    text-align: center;
    font-size: 32px;
    font-style: italic;
}
.faqsection{
    border-bottom: 1px solid #ddd;
    background-color: #AEC4F3;
}
.faq-question{
    background-color: #FFCC33;
    width: 100%;
    text-align: left;
    font-size: 22px;
    font-weight: bold;
    padding: 50px;
    cursor: pointer;
    margin-bottom: 20px;

}
.faq-question :hover{
    color: #f5a623;
}
.faq-answer{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, padding 0.4s ease;
    font-size: 24px;
    padding: 0 1rem;
}
.faq-answer p{
    margin: 0 0 8px;
}
.audiencetoggle{
    text-align: center;
    background: #F5EBDD;
    padding: 64px 16px;
}
.toggleheading{
    font-size: 28px;
    font-style: italic;
    margin-bottom: 20px;
}
.togglebuttons{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.audiencebtn{
    padding: 7px 15px;
    background-color: #FFCC33;
    border-radius: 30px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s;
}
.audiencebtn.active{
    background-color: #AEC4F3;
    font-weight: 400;
}
.audiencebox{
    max-width: 800px;
}
.toggle{
    display: none;
    transform: translateY(10px);
    transition: all 0.6s ease;
}
.toggle.active{
    display: block;
    transform: translateY(0);
}
.contactsection{
    background-color: #AEC4F3;
}
.contactbox{
    background-color: #FFCC33;
    width: 900px;
    margin:  auto;
}

.formheading{
    text-align: center;
    font-style: italic;
    margin-bottom: 19px;
}
.reachout{
    width: 400px;
    padding: 10px;
    background-color: antiquewhite;
    text-align: center;
}
.entry{
    margin-bottom: 16px;
}
label{
    display: block;
    margin-bottom: 5px;
}
input,textarea{
    width: 700px;   
    padding: 12px;
    background-color: antiquewhite;
    border: none;
    font-size: 15px;
}
.textarea{
    height: 500px;
}
.submitbutton{
    display: block;
    margin: 20px auto 10px;
    padding: 10px 40px;
    background-color: antiquewhite;
    cursor: pointer;
    font-weight: 600;
}
.closingform{
    text-align: center;
    margin-top: 10px ;
}
.teamsection{
    background: linear-gradient(to bottom, #ffe680, #f4a836);
    text-align: center;
    padding: 60px;
}
.teamheading{
    font-size: 48px;
    font-style: italic;
    margin-bottom: 20px;
}
.team{
    display: flex;
    justify-content: center;
    gap: 80px;
    flex-wrap: wrap;
}
.members{
    max-width: 180px;
}
.members img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    background-color: antiquewhite;
}
.teamname{
    font-size: 15px;
}
.funfact{
    font-size: 15px;
    margin-bottom: 60px;
}
.teamclosing{
    font-style: italic;
    color: white;
}
@media (max-width: 600px) {
    .team{
        flex-direction: column;
        align-items: center;
    }
}
.brandbarsection{
    overflow-x: auto;
    display: flex;
    gap: 20px;
    padding: 25px;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    background-color: #AEC4F3;
    flex-wrap: nowrap;
    scroll-behavior: smooth;
}
.brandbar{
    flex: 0 0 auto;
    min-width: 230px;
    background-color: #F5EBDD;
    text-align: center;
    padding: 40px 80px;
    border-radius: 30px;
    font-weight: 600;
    scroll-snap-align: center;
}
@media(min-width: 768px) {
    .brandbar{
        flex: 0 0 40%;
        padding: 90px 80px;
    }
}
.footersection{
    background-color: #FAF4E6;
}
.footer{
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: space-between;
    align-items: flex-start;
    cursor: pointer;
    padding: 40px 20px 20px;
}
.leftside, .rightside{
    flex: 1;
}
.footerlogo{
    width: 35px;
    margin-bottom: 10px;
}
.footersection a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    cursor: pointer;
}
.footersection A:hover{
    text-decoration: underline;
}
.bottom{
    margin-top: 30px;
    display: flex;
    gap: 40px;
    font-size: 14px;
    font-weight: 100;
    flex-wrap: wrap;
    align-items: right;
}
.leftside img{
    top: 30px;
}
.leftside{
    margin-top: 0px;
}
.rightside{
    margin-top: 20px;
}
@media(min-width:768px) {
    .footer{
       flex-direction: row; 
    }
}
.aichatbot{
    background-image: url('images/Screenshot\ 2025-06-07\ 184640.png');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}
.chatbot{
    width: 100%;
    max-width: 500px;
    background: #FAF4E6;
    overflow: hidden;
    border-radius: 15px;
    align-items: center;
    margin-left: 500px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}
.chatbotheader{
    display: flex;
    align-items: center;
    background: #f5a623;
    padding: 15px 22px;
}
.chatbotheader .headerinfo{
    display: flex;
    gap: 10px;
    align-items: centre;
}
.headerinfo .chatbotlogo,
.chatbotlogo{
    height: 50px;
    width: 50px;
    padding: 6px;
    object-fit: cover;
    border-radius: 50%;
}
.headerinfo .chatbotheading{
    font-size: 20px;
    margin-top: 6px;
}
.chat-body{
    padding: 25px 25px;
    display: flex;
    gap: 20px;
    height: 460px;
    margin-bottom: 82px;
    overflow-y: auto;
    flex-direction: column;
}
.message-bot-message{
    display: flex;
    gap: 10px;
    align-items: flex-start;
}
.message-bot-message .message-text {
    padding: 14px;
}
.message-user-message{
    display: flex;
    justify-content: flex-end;
}
.message-user-message .message-text{
    background-color: white;
    align-self: flex-end;
    padding: 14px;
}
.chat-input{
    display: flex;
    border-top: 1px;
    padding: 10px 10px;
    bottom: 0;
    width: 420px;
}
.chat-input input{
    flex: 1;
    padding: 10px;
    border: 1px;
}
.chat-input button{
    padding: 0 18px;
    margin-left: 10px;
    border-radius: 12px;
    background-color: white;
    color: black;
    cursor: pointer;
}
.invite{
    text-align: left;
}
@media (max-width:1200px){
    .chatbot{
        width: 90%;
        margin: 20px auto;
    }
    .chat-body{
        height: 400px;
    }
    .chat-input{
        width: 100%;
        left: 0;
        right: 0;
    }
}
 
    
        
    
    
 


    
        
    
    




