*{
     margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}
body{
    height: 100%;
    width: 100%;
}
.navigationbar{
    background-color:#AEC4F3;
    padding: 0px 0px;
}
.navigationbar nav{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.hamburger{
    display: none;
    cursor: pointer;
    background: none;
    border: none;
}
.navigationlinks{
    display: flex;
    list-style: none;
    gap: 10px;
    margin-left: auto;
}
.navigationlinks li a{
    color: white;
    font-weight: 400;
    text-decoration: none;
}
@media (max-width: 600px) {
    .navigationlinks{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 20px;
        width: 200px;
        padding: 10px;
        border-radius: 10px;
    }
    .navigationlinks.show{
        display: flex;
    }
    .hamburger{
        display: block;
        margin-left: auto;
    }
}

.herosection{
    background-image: url(images/Screenshot\ 2025-06-08\ 102822.png);
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
}
.hero{
    text-align: left;
    position: absolute;
    bottom: 40px;
    left: 10px;
}
.raydiate{
    margin-bottom: 5px;
    font-weight: 1800px;
    font-size: 90px;
}
.tagline{
    margin-bottom: 20px;
    font-size: 40px;
    font-size: bold;
}
.getsolarbutton{
    background-color: #FFCC33;
    color: black;
    padding: 14px;
    font-weight: 200;
    border-radius: 28px;
    text-decoration: none;
    transition: background 0.4s ease;
}
.getsolarbutton :hover{
    background: #e4ab00;
}
@media (max-width:1200px){
   .tagline{
    font-size: 20px;
    line-height: 1.5;
   }
   .getsolarbutton{
    padding: 8px;
   }
}
.aboutsection{
    background-image: url(images/Screenshot\ 2025-06-08\ 114927.png);
    background-size: cover;
    height: 180vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: black;
}
.about{
    max-width: 900px;
    margin: 0 auto;
}
.aboutheading{
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    padding: 6px 8px;
    display: inline-block;
    margin-bottom: 16px;
}
.originheading{
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
.aboutparagraph{
    font-size: 24px;
    line-height: 1.6;
    margin-bottom: 16px;
    text-align: center;
}
.aboutlogo{
    position: absolute;
    top: 10px;
    right: 70px;
    width: 60px;
    height: auto;
}
@media (max-width:1200px){
    .aboutsection{
        height: 150vh;
    }
    .aboutheading{
        font-size: 20px;
        top: 5px;
        left: 5px;
        margin-right: 50px;
    }
    .originheading{
        font-size: 20px;
        font-weight: bold;
    }
    .aboutparagraph{
        font-size: 18px;
    }
    .aboutlogo{
        display: none;
    }
}
.carouselsection{
    padding: 16px;
    background-color: #AEC4F3;
    text-align: center;
}
.carouselcontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 8px;
    position: relative;
    overflow: hidden;
    width: 100vw;
}
.carousel{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 8px;
    padding: 8px;
    width: 100%;
}
.card{
    flex: 0 0 500px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAF4E6;
    padding: 8px;
    min-width: 250px;
    text-align: left;
    margin: 0 20px;
}
.card img{
    width: 100%;
    height: auto;
    object-fit: contain;
    max-width: 505px;
}
.label{
    font-size: 20px;
    margin-bottom: 6px;
}
.card h3{
    font-family: 'italliano';
    font-style: italic;
    font-size: 24px;
}
.productheading{
    display: inline-block;
    font-size: 32px;
    margin-bottom: 32px;
    padding: 50px;
    background-color: #FFCC33;
}



